@font-face {
    font-family: 'StyreneAWeb';
    font-weight: 400;
    src: url('../fonts/StyreneAWeb-Regular.woff2') format('woff2'), 
        url('../fonts/StyreneAWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: 'StyreneAWeb';
    font-weight: 300;
    src: url('../fonts/StyreneAWeb-Light.woff2') format('woff2'), 
        url('../fonts/StyreneAWeb-Light.woff') format('woff');
}

@font-face {
    font-family: 'StyreneAWeb';
    font-weight: 500;
    src: url('../fonts/StyreneAWeb-Medium.woff2') format('woff2'), 
        url('../fonts/StyreneAWeb-Medium.woff') format('woff');
}

@font-face {
    font-family: 'StyreneAWeb';
    font-weight: 700;
    src: url('../fonts/StyreneAWeb-Bold.woff2') format('woff2'), 
        url('../fonts/StyreneAWeb-Bold.woff') format('woff');
}
